<div (window:resize)="onResize()" id="graphContainer" #graphContainer>
  <div class="search">
    <form [formGroup]="searchForm" (ngSubmit)="onSearchFormSubmit()">
      <input type="text" placeholder="Search" formControlName="q" />
      <input type="submit" value="GO" />
    </form>
  </div>
  <div id="tooltip" class="tooltip"></div>
  <div id="popup" class="popup"></div>
  <svg></svg>
  <div class="graph-controls">
    <div class="zoom-control zoom-in" id="zoomIn">+</div>
    <div class="zoom-control zoom-out" id="zoomOut">-</div>
    <div class="zoom-control zoom-reset" id="zoomReset">↺</div>
  </div>
  <div class="selection-control">
    <div (click)="onNodeSelectionTypeChanged('multipleNodes')">
      <input
        type="radio"
        name="selectionControl"
        [(ngModel)]="selectionType"
        [value]="'multipleNodes'"
      />
      Multiple Nodes
    </div>
    <div (click)="onNodeSelectionTypeChanged('debtLayers')">
      <input
        type="radio"
        name="selectionControl"
        [(ngModel)]="selectionType"
        [value]="'debtLayers'"
      />
      Debt Layers
    </div>
  </div>
  <div class="actions">
    <div class="action-button" (click)="actionButtonClicked('analyze')">
      <img [src]="url('/assets/images/analyse.png')" alt="Analyze" title="Analyze" />
    </div>
    <div class="action-button" (click)="actionButtonClicked('diagnose')">
      <img [src]="url('/assets/images/diagnose.png')" alt="Diagnose" title="Diagnose" />
    </div>
    <div class="action-button" (click)="actionButtonClicked('classify')">
      <img [src]="url('/assets/images/classify.png')" alt="Classify" title="Classify" />
    </div>
    <div class="action-button" (click)="actionButtonClicked('predict')">
      <img [src]="url('/assets/images/predict.png')" alt="Predict" title="Predict" />
    </div>
    <div class="action-button" (click)="actionButtonClicked('prescribe')">
      <img
        [src]="url('/assets/images/prescribe.png')"
        alt="Prescribe"
        title="Prescribe"
      />
    </div>
  </div>
</div>
