<div (window:resize)="onResize()" id="graphContainer" #graphContainer>
    <div class="search">
        <form [formGroup]="searchForm" (ngSubmit)="onSearchFormSubmit($event)">
            <input type="text" placeholder="Search" formControlName="q">
            <input type="submit" value="GO">
        </form>
    </div>
    <div id="tooltip" class="tooltip">

    </div>
    <svg>

    </svg>
    <div class="graph-controls">
        <div class="zoom-control zoom-in" id="zoomIn">+</div>
        <div class="zoom-control zoom-out" id="zoomOut">-</div>
        <div class="zoom-control zoom-reset" id="zoomReset">↺</div>
    </div>
    <div class="selection-control">
        <div (click)="onSelectionTypeChanged('multipleNodes')">
            <input type="radio" name="selectionControl" [(ngModel)]=" selectionType" [value]="'multipleNodes'" />
            Multiple Nodes
        </div>
        <div (click)="onSelectionTypeChanged('debtLayers')"><input type="radio" name="selectionControl"
                [(ngModel)]="selectionType" [value]="'debtLayers'" /> Debt Layers</div>
    </div>
    <div class="actions">
        <div class="action-button" (click)="actionButtonClicked('1')">😀</div>
        <div class="action-button">😉</div>
        <div class="action-button">😐</div>
        <div class="action-button">😍</div>
        <div class="action-button">🙁</div>
    </div>
</div>