#graphContainer {
  width: calc(100vw);
  height: calc(100vh);
  overflow: hidden;
  svg {
    fill: rgba(0, 0, 0, 0.5) !important;
    #nodes {
      circle {
        &.selected {
          fill: rgba(255, 255, 255, 1) !important;
          stroke: rgb(0, 0, 0) !important;
        }
      }
      .primary-node {
        &.selected {
          fill: rgb(119, 110, 110) !important;
          stroke: rgba(255, 255, 255, 1) !important;
        }
      }
    }
    #links {
      .selected {
        stroke: rgba(255, 255, 255, 1) !important;
      }
    }
  }
}
.search {
  $inputPadding: 10px;
  $buttonWidth: 50px;
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1;
  input {
    padding: $inputPadding;
    border-radius: 0;
    float: left;
    border: none;
  }
  input[type="text"] {
    border-radius: 5px 0px 0px 5px;
    width: calc(100% - #{$buttonWidth} - #{2 * $inputPadding});
  }
  input[type="submit"] {
    width: $buttonWidth;
    border-radius: 0px 5px 5px 0px;
  }
  input:focus-visible {
    outline-offset: 0px;
    outline: none;
  }
  padding: 10px;
  min-width: 300px;
}
.selection-control {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 1;
  padding: 5px;
  div {
    clear: both;
    margin: 5px;
    color: rgba(255, 255, 255, 1);
    padding: 5px 10px;
  }
}

.actions {
  position: fixed;
  bottom: 10px;
  width: auto;
  left: 50%;
  transform: translate(-50%, 0);
  .action-button {
    float: left;
    margin: 0 5px;
    img {
      height: 64px;
      width: 64px;
    }
  }
}
.graph-controls {
  position: absolute;
  top: 0px;
  left: 0px;
  .zoom-control {
    background-color: rgb(40 48 55);
    border: 1px solid rgba(0, 0, 0);
    color: rgba(255, 255, 255);
    display: block;
    height: 20px;
    margin: 5px;
    padding: 0px;
    text-align: center;
    width: 30px;
    cursor: pointer;
    line-height: 20px;
  }
}
#tooltip {
  color: #fff;
  .tooltip {
    background-color: rgb(40 48 55);
    padding: 5px;
    position: absolute;
    width: 225px;
    height: 150px;
    border-radius: 2px;
    .tooltip-title {
      font-weight: bold;
      font-size: 18px;
      padding: 5px 10px;
    }
    .row {
      width: calc(100% - 20px);
      padding: 5px 10px;
      border-bottom: 0.5px solid rgb(56 56 56);
      clear: both;
      display: flex;
      flex-direction: row;
      font-size: 12px;
      .key {
        text-align: left;
        width: 70%;
        font-weight: bold;
      }
      .value {
        text-align: right;
        width: 30%;
        display: block;
      }
    }
  }
}

#popup {
  color: #fff;
  .popup {
    background-color: rgb(40 48 55);
    padding: 5px;
    position: absolute;
    width: 225px;
    top: calc(100vh / 2 - 125px / 2);
    left: calc(100vw / 2 - 225px / 2);
    border-radius: 2px;
    text-align: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
      rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    .popup-title {
      font-weight: bold;
      font-size: 18px;
      padding: 5px 10px;
      border-bottom: 1px solid rgb(56 56 56);
    }
    .popup-content {
      padding: 5px 10px;
    }
    button {
      background: none;
      margin: 5px 10px;
      color: #fff;
      border: 1px solid rgb(56 56 56);
      padding: 5px 20px;
      cursor: pointer;
    }
  }
}

img[title]:hover::after {
  padding: 15px;
  background: rgb(40 48 55);
}
